-var titulo = "Campamento virtual, ¿Listos?"
-var subtitulos = ["Clases en vivo por 10 días", "Aprendizaje colaborativo", "Metodologías diferentes", "Dinámicas continuas"]
-var fechaInicio = ["Sin programación actualmente", "12 de enero del 2021 - 22 de enero del 2021", "23 de febrero del 2020"]
-var numeros = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
-var link = ['https://forms.gle/4bdZokf4Ai9NPSHE7', 'https://www.google.com']
-var escudos = ['python','java','c']
-var descripciones = ["Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.","hola","hola"]

mixin botonFrontal(texto)
    if texto == 'Inscríbete'
        button.btn.btn-primary.btn-lg.btn-header(
            type="button"
        ) #{texto}
    else
        button.btn.btn-outline-light.btn-lg.btn-header(
            type="button"
        ) #{texto}
mixin modulo(num)
    li
        p 
            button.btn.btn-success(
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"+num
                aria-expanded="false"
                aria-controls="collapseExample"+num
                ) Día #{num}
        .collapse(id='collapseExample'+num)
            .card.card-body Secciones y temas.
mixin CampamentoActivo(tema, inicio)
    -var titulo = escudos[tema] 
    .col 
        .card.h-100
            img.card-img-top(
                src=`images/${escudos[tema]}.jpg`
                alt="..."
                )
            .card-body
                h2.nombre-campamento=titulo
                a.btn.btn-success.btn-lg(
                    type="button"
                    href=link[tema]
                    target="_blank"
                ) Inscríbete
                a.btn.btn-secondary.btn-lg(
                    type="button"
                    href="info.html" 
                ) Información
            .card-footer
                small.text-muted #{fechaInicio[`${inicio}`]}
mixin CampamentoInactivo(tema)
    .col 
        .card.h-100.disabled
            img.card-img-top.desenfoque(
                src=`images/${tema}.jpg`
                alt="..."
                )
            .card-body
                a.btn.btn-success.btn-lg.disabled(
                    role="button"
                    href="#"
                    area-disabled="true"
                ) Inscríbete
                a.btn.btn-secondary.btn-lg.disabled(
                    role="button"
                    href="#"
                    area-disabled="true"
                ) Información
            .card-footer
                small.text-muted #{fechaInicio[0]}
mixin EscudoInformacion(numero)
    img.rounded.mx-auto.d-block(src=`images/${escudos[numero]}.jpg`)
mixin InformacionCampamento(numero)
    -var titulo = escudos[numero]
    -var descripcion = descripciones[numero]
    h2 Campamento de #{titulo}
    ul
        li 10 días
        li +30 horas
        li Cientos de ejercicios
        li Concurso de finalización
        li Certificado
mixin ItemIzquierdaTimeline(num)
    -var numero = numeros[num-1]
    -var fecha = 11 + num
    .timeline-item
        .timeline-img
        .timeline-content.js--fadeInLeft
            h2 Sección #{numero}
            .date #{fecha} ENERO
            ul
                if block
                    block
                else
                    li Hola
mixin ItemDerechaTimeline(num)
    -var numero = numeros[num-1]
    -var fecha = 11 + num
    .timeline-item
        .timeline-img
        .timeline-content.js--fadeInRight
            div
                h2.derecha Sección #{numero}
                .date #{fecha} ENERO
            ul.derecha-list
                if block
                    block
                else
                    li Hola
mixin TemaPorSeccion(texto)
    -var tema = texto
    li #{tema}