header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(id="navbar")
        .container-fluid  
            a.navbar-brand(href="#")
                img(src="images/logo-edullka-header.png" alt="")  
            button.navbar-toggler(
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01"
                aria-expanded="false"
                aria-label="Toggle navigation"
            )
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id="navbarTogglerDemo01")
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(
                            href="landing.html#"
                            aria-current="page"
                        )
                            h3 Inicio
                    li.nav-item
                        a.nav-link(href="landing.html#campamentos")
                            h3 Campamentos
                    li.nav-item
                        a.nav-link(href="landing.html#nosotros")
                            h3 Nosotros
    .contenedor.head
        .animacion
            span.typed
        h2 Aprovecha esta oferta por tiempo limitado: <i class="descuento">50% de descuento</i>
        .cuenta
            #cuenta
                p.termina Termina en
        button.wsp-button(type="button")
            i.fab.fa-whatsapp
        .contenedor-chat
            .contenido-chat
                .top
                    .close-button
                        i.fas.fa-times
                    img(src="images/carpa.png")
                    .estado-chat
                        strong Edullka
                        span En línea
                .bottom
                    textarea(id="mensaje" cols="30" rows="1" placeholder="Escribe un mensaje aquí")
                    .send-button(id="send-button")
                        img(src="images/send.svg" alt="")