header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid    
            button.navbar-toggler(
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01"
                aria-expanded="false"
                aria-label="Toggle navigation"
            )
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id="navbarTogglerDemo01")
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(
                            href="landing.html"
                            aria-current="page"
                        )
                            h3 Inicio
                    li.nav-item
                        a.nav-link(href="landing.html#main")
                            h3 Campamentos
                    li.nav-item
                        a.nav-link(href="landing.html#nosotros")
                            h3 Nosotros
    div.contenedor.head
        .row
            //.col-md-7
                h1.titulo #{titulo}
                ul.copy
                    each subtitulo in subtitulos
                        li=subtitulo
                +botonFrontal('Inscríbete')
            a(href="#")
                i.fab.fa-whatsapp