header
    nav.navbar.navbar-expand-lg.navbar-light
        .container-fluid    
            button.navbar-toggler(
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            )
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id="navbarNav")
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(
                            href="landing.html"
                            aria-current="page"
                        )
                            h3 Inicio
                    li.nav-item
                        a.nav-link(href="#main")
                            h3 Campamentos
                    li.nav-item
                        a.nav-link(href="#nosotros")
                            h3 Nosotros
    div.contenedor.head
        .row
            //.col-md-7
                h1.titulo #{titulo}
                ul.copy
                    each subtitulo in subtitulos
                        li=subtitulo
                +botonFrontal('Inscríbete')
            a(href="#")
                i.fab.fa-whatsapp